*{
    
    
    

}

body{
    
}







/* REGOLE DELL'HEADER */








/* REGOLE DEL MAIN */
main{
    
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.xxx{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}
.fizzbuzz{
    background-color: rgb(42, 81, 165);
}

.fizz{
    background-color: crimson;
}

.buzz{
    background-color: deeppink;
}




/* REGOLE DEL FOOTER */

footer{
    
}

