*{
    
    
    

}

body{
    
}







/* REGOLE DELL'HEADER */








/* REGOLE DEL MAIN */
main{
    
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.xxx{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}




/* REGOLE DEL FOOTER */

footer{
    
}

